*, :root {
  margin: 0;
  box-sizing: border-box;
  font-family: "Teachers", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  --avatar-radius: 50%;
  --avatar-padding: 10px;
  --radius: 0.5em;
}
/* .mulish-uniquifier {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} */


body #root {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'sidebar feed widgets';
  grid-template-columns: 280px 1fr 400px;
  background-color: rgb(69, 216, 216);     
  grid-auto-rows: 80px 1fr;
  color: #010146;
}
